<div class="btn-group">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Recommended Blogs <span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		<li><a href="https://maltagreenyouth.wordpress.com/" target="_blank">Alternattiva Demokratika Zaghzagh</a></li>
		<li><a href="https://carmelcacopardo.wordpress.com/" target="_blank">Carmel Cacopardo</a></li>
		<li><a href="http://jeremycorbyn.org.uk/articles/" target="_blank">Jeremy Corbyn</a></li>
		<li><a href="http://mikes-beat.blogspot.com.mt/" target="_blank">Mike's Beat - Michael Brigulio's Blog</a></li>
	</ul>
</div>