<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="uft8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<title>{{ page.title }}</title>
	</head>
	<body>
		<ul>
			<a href="http://dannydes.github.io" title="Main happenings">
				<li>
					<span>Home</span>
				</li>
			</a>
			<a href="blog" title="Blog">
				<li>
					<span>Blog</span>
				</li>
			</a>
			<a href="https://github.com/dannydes" title="Public Code" target="_blank">
				<li>
					<span>Code</span>
				</li>
			</a>
			<a href="cv" title="">
				<li>
					<span>CV</span>
				</li>
			</a>
		</ul>