<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="uft-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:image" content="{{ site.url }}/img/{{ page.image }}">
		<meta property="og:site_name" content="{{ page.title }}">
		<link rel="icon" type="image/x-icon" href="{{ site.url }}/img/favicon.ico">
		<link href="{{ site.url }}/feed.xml" rel="alternate" type="application/rss+xml">
		{% if page.tag %}<link href="{{ site.url }}/tagfeeds/{{ page.tag }}" rel="alternate" type="application/rss+xml">{% endif %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ site.url }}/css/style.css">
		<link rel="stylesheet" href="{{ site.url }}/css/tablet.css" media="(min-width: 768px)">
		<title>{{ page.title }}</title>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
						<span class="sr-only"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ site.url }}"><img src="{{ site.url }}/img/danieldesira30x30.jpg" alt="Brand"> dannydes</a>
				</div>
				<div class="collapse navbar-collapse" id="main-menu">
					<ul class="nav navbar-nav navbar-right">
						<li{% if page.url == '/' %} class="active"{% endif %}><a href="{{ site.url }}">Home</a></li>
						<!--<li{% if page.url contains '/blog' %} class="active"{% endif %}><a href="{{ site.url }}/blog">Blog</a></li>-->
						<li{% if page.url contains '/portfolio' %} class="active"{% endif %}><a href="{{ site.url }}/portfolio">IT Portfolio</a></li>
						<li{% if page.url contains '/contact' %} class="active"{% endif %}><a href="{{ site.url }}/contact">Contact Me</a></li>
						<li{% if page.url contains '/about' %} class="active"{% endif %}><a href="{{ site.url }}/about">About</a></li>
						<li><a href="https://twitter.com/desiradaniel" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://instagram.com/ddesira" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
						<li><a href="https://github.com/dannydes" title="Github" target="_blank"><i class="fa fa-github"></i></a></li>
						<li><a href="{{ site.url }}/feed.xml" title="Atom feed"><i class="fa fa-feed"></i></a></li>
					</ul>
				</div>
			</div>
		</nav>
		<header id="header-slider">
			<ul>
				<li><div class="slide" style="background-image: url('{{ site.url }}/img/2013-05-25 14.42.27.jpg')"></div></li>
				<li><div class="slide" style="background-image: url('{{ site.url }}/img/2014-09-17 09.58.35.jpg')"></div></li>
				<li><div class="slide" style="background-image: url('{{ site.url }}/img/2015-05-24 11.15.26.jpg')"></div></li>
				<li><div class="slide" style="background-image: url('{{ site.url }}/img/2015-12-09 15.27.13.jpg')"></div></li>
			</ul>
		</header>
		<div class="sidebar">
			<div class="widget-area">
				<a href="https://twitter.com/desiradaniel" class="twitter-follow-button" data-show-count="false">Follow @desiradaniel</a>
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				<a class="twitter-timeline"  href="https://twitter.com/desiradaniel" data-widget-id="364011654305943553">Tweets by @desiradaniel</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			<p class="sidebar-info">Hover me.</p>
		</div>
		<div class="container">
			<noscript>
				<div class="alert alert-warning">Your JavaScript is disabled - this might hurt your experience. Please follow these <a class="alert-link" href="http://www.enable-javascript.com/" target="_blank">steps</a>.</div>
			</noscript>
			<div class="page-header">
				<h1>{{ page.title }}</h1>
			</div>
