---
title: Blog
layout: default
image: danieldesira.jpg
---

{% include blogroll.html %}
{% include post-list.html %}
<div class="row">
	<div class="col-md-2 col-md-offset-5">
		<nav>
			<ul class="pagination">
				{% if paginator.previous_page %}
					<li>
						<a href="{{ paginator.previous_page_path }}" aria-label="Previous">
							<span aria-hidden="true">&laquo; Previous</span>
						</a>
					</li>
				{% endif %}
				{% if paginator.next_page %}
					<li>
						<a href="{{ paginator.next_page_path }}" aria-label="Next">
							<span aria-hidden="true">Next &raquo;</span>
						</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</div>