---
layout: default
---

<div id="post">
	{{ content }}
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<div class="addthis_native_toolbox"></div>
	<p><strong>Filed under <a href="{{ site.url }}/{{ page.category }}">{{ page.category }}</a></strong></p>
	<strong>Tags</strong>
	{% for tag in page.tags %}
		<a href="">{{ tag }}</a>
	{% endfor %}
</div>

{% include blogroll.html %}

<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = '{{ site.url }}{{ page.url }}';
        this.page.identifier = '{{ page.id }}';
    };
    
    (function() {
        var d = document, s = d.createElement('script');
        
        s.src = '//dannydes.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{% if site.related_posts.size > 0 %}
<div id="related">
	<h2>Related Posts</h2>
	{% include post-list.html %}
</div>
{% endif %}

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56aa8d91c91a4535" async="async"></script>
